/* ------------Mobile------------ */

.section {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.userName {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.userInfo div {
  border-radius: 30px;
  width: 36px;
  height: 36px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}
.userInfo div svg {
  fill: rgba(252, 252, 252, 0.7);
}
.iconBurger {
  stroke: var(--black);
}
