/* ------------Mobile------------ */
@media screen and (max-width: 374.8px) {
  .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
  }
}

.section {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.unlogged {
  background-color: transparent;
}
@media screen and (min-width: 375px) {
  .wrap {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
}

.iconBurger {
  stroke: var(--black);
  cursor: pointer;
}

.iconBurger:hover {
  transform: scale(1.1);
}

/* ------------Tablet------------ */

@media screen and (min-width: 768px) {
  .section {
    padding: 20px;
  }

  .wrap {
    gap: 28px;
  }
}

/* ------------Desktop------------ */

@media screen and (min-width: 1440px) {
  .section {
    justify-content: space-around;
  }
  .unlogged {
    justify-content: start;
  }
  .wrap {
    gap: 16px;
  }
}
