.wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selectWrapper {
  height: 48px;
  position: relative;
}

.formSelectWrapper {
  width: 311px;
}

.dashboardSelectWrapper {
  width: 343px;
}
.customSelect {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  background: none;
  cursor: pointer;
}

.formCustomSelect {
  border: 1px solid #d1d5db;
  color: var(--white);
}

.dashboardCustomSelect {
  border: 1px solid rgba(18, 20, 23, 0.1);
  color: var(--black);
}

.dashboardCustomSelect:hover,
.dashboardCustomSelect:focus {
  outline: none;
  border: 1px solid var(--green);
}

.formCustomSelect:hover,
.formCustomSelect:focus {
  border-width: 2px;
}

.dropDown {
  border-radius: 15px;
  padding: 12px 24px 12px 12px;
  z-index: 99;
  box-shadow: 0 4px 47px 0 rgba(18, 20, 23, 0.08);
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 50px;
}

.dashboardDropDown {
  width: 343px;
  height: 368px;
  color: var(--black);
}
.formDropDown {
  width: 311px;
  height: 240px;
  color: var(--gray);
  overflow-y: scroll;
}

.item {
  cursor: pointer;
  border-radius: 15px;
  padding-left: 12px;
}

.item:hover {
  background-color: var(--white-1);
}

.activeCategory {
  color: var(--green);
}

.icon {
  position: absolute;
  pointer-events: none;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: var(--black);
}

.formIcon {
  fill: var(--white);
}

.dashboardIcon {
  fill: var(--black);
}

.radioWrap {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding-bottom: 16px;
}

.radio {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  user-select: none;
}

.radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  left: 0;
}

.customRadio {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.2s ease;
}

.formCustomRadio {
  border: 2px solid var(--white);
}

.dashboardCustomRadio {
  border: 2px solid rgba(18, 20, 23, 0.1);
}
.radio input[type="radio"]:checked + .customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dashboardRadio input[type="radio"]:checked + .dashboardCustomRadio::after {
  background-color: var(--green);
}

.formRadio input[type="radio"]:checked + .formCustomRadio::after {
  background-color: var(--white);
}
.dashboardRadio input[type="radio"]:checked + .dashboardCustomRadio {
  border-color: var(--green);
}
.formRadio input[type="radio"]:checked + .formCustomRadio {
  border-color: var(--white);
}
.formBottomWrap {
  position: relative;
}
.text {
  font-size: 10px;
  line-height: 120%;
  position: absolute;
  bottom: 0;
}
/* ----------Tablet--------- */

@media screen and (min-width: 768px) {
  .wrap {
    flex-direction: row;
    align-items: center;
  }

  .selectWrapper {
    width: 164px;
  }
  .select {
    padding: 12px 46px 12px 24px;
  }
  .radioWrap {
    width: 179px;
    height: 20px;
  }
}
