/* -----------Mobile------------ */

.navList {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-weight: 500;
  font-size: 14px;
  justify-content: flex-start;
}

.activeLink {
  background-color: var(--white);
  border-radius: 15px;
  padding: 12px 20px;
  color: var(--black);
  width: 110px;
}

/* ----------Desktop--------- */
@media screen and (min-width: 1440px) {
  .navList {
    flex-direction: row;
    align-items: center;
  }

  .activeLink {
    background-color: var(--green);
    border-radius: 15px;
    padding: 12px 20px;
    color: var(--white);
  }
}
