.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.logOut {
  gap: 6px;
}
.button.logOut svg {
  width: 16px;
  height: 16px;
  stroke: var(--white);
}

.dashboardBtn {
  gap: 8px;
}
.button.dashboardBtn svg {
  width: 20px;
  height: 20px;
  stroke: var(--green);
}

/* ----------Tablet--------- */
@media screen and (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}

/* ----------Desktop--------- */
@media screen and (min-width: 1440px) {
  .button.logOut svg {
    stroke: var(--black);
  }
}
