.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow-y: hidden;
}

.list {
  text-align: center;
  color: rgba(18, 20, 23, 0.8);
  display: flex;
  flex-direction: row;
  width: 283px;
  gap: 8px;
}

.list li:not(:last-child)::after {
  content: "·";
  margin-left: 8px;
}
