.wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.filterWrap,
.bottomWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.statistic {
  display: flex;
  flex-direction: row;
  gap: 8px;
  /* padding-top: 32px; */
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray);
}
.totalCount {
  font-weight: 500;
  font-size: 20px;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/* ----------Tablet--------- */

@media screen and (min-width: 768px) {
  .wrap {
    gap: 28px;
    width: 704px;
  }

  .filterWrap {
    flex-direction: row;
  }
  .bottomWrap {
    flex-direction: row;
    gap: 16px;
  }
  .text {
    font-size: 16px;
  }
}

/* ----------Dasktop--------- */
@media screen and (min-width: 1440px) {
  .wrap {
    flex-direction: row;
    justify-content: space-between;
    width: 1240px;
  }
}
