.modal {
  width: 343px;
  border-radius: 15px;
  background: var(--green);
  padding: 48px 16px;
  /* position: fixed; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 16px;
  line-height: 150%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iconClose {
  width: 24px;
  height: 24px;
  stroke: var(--white);
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.iconClose:hover {
  transform: scale(1.1);
}
.textWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
}

/* -----------------Tablet----------------- */
@media screen and (min-width: 768px) {
  .modal {
    padding: 48px 64px;
    width: 627px;
    border-radius: 30px;
    font-size: 20px;
    gap: 32px;
  }

  .iconClose {
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
  }
  .textWrap {
    gap: 20px;
  }
  .title {
    font-size: 40px;
    line-height: 120%;
  }
  .text {
    color: rgba(252, 252, 252, 0.8);
  }
}
