@import "modern-normalize/modern-normalize.css";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay-Regular.woff2") format("woff2"),
    url("/fonts/FixelDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay-Medium.woff2") format("woff2"),
    url("/fonts/FixelDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay-SemiBold.woff2") format("woff2"),
    url("/fonts/FixelDisplay-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay-Bold.woff2") format("woff2"),
    url("/fonts/FixelDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #121417;
  --green: #85aa9f;
  --light-green: #a5c0b8;
  --white: #fcfcfc;
  --white-1: #f8f8f8;
  --gray: rgba(18, 20, 23, 0.5);
  --red: #d80027;
  --success-green: #3cbf61;
}

body {
  font-family: "Fixel", sans-serif;
  color: var(--black);
  font-size: 14px;
  background-color: var(--white-1);
}
