@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay-Regular.woff2") format("woff2"),
    url("/fonts/FixelDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay-Medium.woff2") format("woff2"),
    url("/fonts/FixelDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay-SemiBold.woff2") format("woff2"),
    url("/fonts/FixelDisplay-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay-Bold.woff2") format("woff2"),
    url("/fonts/FixelDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
